# 集群版 node-1（混部 S3 阶段三台各一份，按台改 THIS_IP / *_NAME / NODE_ID）
THIS_IP=10.0.0.11
ETCD_NAME=etcd-1
ETCD_INITIAL_CLUSTER=etcd-1=http://10.0.0.11:2380,etcd-2=http://10.0.0.12:2380,etcd-3=http://10.0.0.13:2380
ETCD_CLUSTER_STATE=new
ETCD_CLUSTER_TOKEN=brave-prod
KAFKA_NODE_ID=1
KAFKA_QUORUM_VOTERS=1@10.0.0.11:9093,2@10.0.0.12:9093,3@10.0.0.13:9093
KAFKA_RF=3
KAFKA_MIN_ISR=2
