# 单点版（2+1' 连接轴，仅 node-3 跑；node-1/2 此时 systemctl stop docker）
THIS_IP=10.0.0.13
ETCD_NAME=etcd-single
ETCD_INITIAL_CLUSTER=etcd-single=http://10.0.0.13:2380
ETCD_CLUSTER_STATE=new
ETCD_CLUSTER_TOKEN=brave-stress-single
KAFKA_NODE_ID=1
KAFKA_QUORUM_VOTERS=1@10.0.0.13:9093
KAFKA_RF=1
KAFKA_MIN_ISR=1
